@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/font/NanumGothic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/font/NanumGothicExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
}

header {
    text-align:center;
    font-size:30px;
    margin:5px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    font-family: NanumBarunGothic sans-serif;
    line-height: 1;
    background-color: #ffffff;
    /* color: #1a1a1a; */
}

label, span {
    margin: 0;
    padding: 0;
}

#nav-logo {
    height: 80px;
    width: 80px;
}

#footer {
    height: 50px;
    margin-top: auto !important;
}

.footer__container {
    margin-top: 14px;
    margin-bottom: 12px;
}

.footer__text {
    color: #cacaca;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.footer__text span {
    font-weight: bold;
}

.container-fluid {
    width: 90%;
    height: 100%;
}

.image-container {
    height: 50px;
    overflow: hidden;
    margin: 5px;
}

.image-container img {
    width: auto;
    height: 100%;
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before {
    display: none;
}

table.dataTable thead>tr>th.sorting {
    padding-right: 4px;
    text-align: center;
}

table tbody td { min-width:10px;}

.hive-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.dataTables_wrapper {
    width: 90%;
    margin: 10px;
}

table.dataTable th {
    text-align :center;
    font-size: 0.9em;
}

table.dataTable td {
    font-size: 0.8em;
}

thead input {
    width: 100%;
}

.nav-link {
    margin: 10px;
    background-color: #e9cc4a;
    border: none;
    border-radius: 4px;
    color: #5f5f5f;
    cursor: pointer;
    font-family: NanumBarunGothic sans-serif;
}

.nav-link:hover {
    background-color: #cfd152;
}

.data-cell {
    /* cursor: default; /* 마우스 커서를 기본 상태로 설정 */
    border: none; /* 테두리 제거 */
    background: none; /* 배경색 제거 */
    font: inherit; /* 폰트 스타일을 상속 */
    height:60px;
    width:100%;
}

textarea {
    overflow-y: hidden;
    resize: none;
} 