@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/font/NanumGothic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/font/NanumGothicExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
}

/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
    text-align:center;
    font-size:30px;
    margin:5px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    font-family: NanumBarunGothic sans-serif;
    line-height: 1.48;
    background-color: #ffffff;
    /* color: #1a1a1a; */
}

label, span {
    margin: 0;
    padding: 0;
}

#nav-logo {
    height: 80px;
    width: 80px;
}

#footer {
    height: 50px;
    margin-top: auto !important;
}

.footer__container {
    margin-top: 14px;
    margin-bottom: 12px;
}

.footer__text {
    color: #cacaca;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.footer__text span {
    font-weight: bold;
}

.container-fluid {
    width: 90%;
    height: 100%;
}

.image-container {
    height: 50px;
    overflow: hidden;
    margin: 5px;
}

.image-container img {
    width: auto;
    height: 100%;
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before {
    display: none;
}

table.dataTable thead>tr>th.sorting {
    padding-right: 4px;
    text-align: center;
}

table tbody td { min-width:10px;}

.hive-container {
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

table.dataTable th {
    text-align :center;
    font-size: 0.9em;
}

table.dataTable td {
    font-size: 0.8em;
}

thead input {
    width: 100%;
}

.nav-link {
    margin: 10px;
    background-color: #e9cc4a;
    border: none;
    border-radius: 4px;
    color: #5f5f5f;
    cursor: pointer;
    font-family: NanumBarunGothic sans-serif;
}

.nav-link:hover {
    background-color: #cfd152;
}

.data-cell {
    /* cursor: default; /* 마우스 커서를 기본 상태로 설정 */
    border: none; /* 테두리 제거 */
    background: none; /* 배경색 제거 */
    font: inherit; /* 폰트 스타일을 상속 */
    height:60px;
    width:100%;
}

textarea {
    overflow-y: hidden;
    resize: none;
} 

.delete-btn, .edit-btn, .down-btn, .change-btn, .restore-btn {
    width: 100%;
}

.grid-form .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-form .form-group {
    margin-bottom: 1rem;
}

/* '컨디션 및 진행사항' 필드를 위한 추가 스타일 */
.grid-form .form-group textarea {
    height: auto; /* 높이 자동 조정 */
}

.form-control {
    font-size: 0.8rem;
}

.category-list {
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
  }
.category-item {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-icon {
    background-color: #91d5ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: white;
}
.category-name {
    flex-grow: 1;
    margin-left: 10px;
}

.btn-group-vertical {
    display: inline-block;
    vertical-align: top;
}

.btn-group-vertical .btn {
    flex: none;
    width: 90%;
}

#statisticsModal table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#statisticsModal table th {
    background-color: #e9cc4a;
}

#statisticsModal table tr {
    height: 2em;
}

#statisticsModal table tr:last-child {
    background-color: #f7cc0c;
    font-weight: bold;
}

#statisticsModal table td, #statisticsModal table th {
    border: 1px solid black;
    text-align: center;
}

#statisticsModal table th:first-child,
#statisticsModal table td:first-child {
    width: 100px; /* 첫 열의 너비를 설정합니다. 필요에 따라 이 값을 조정하세요. */
}

.modal-dialog {
    max-width: 800px;
}

.modal-content {
    width: 900px;
    overflow: hidden;
}

.modal-content legend {
    font-size: 0.8rem;
}

.modal-content label, .form-select {
    font-size: 0.8rem;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#filename {
    cursor: pointer;
}

#data-table td {
    vertical-align: top;
}

.modal .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.modal {
    z-index: 99999;
}

/*
.modal label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
*/

#id_btn_toggle_sidebar {
    z-index: 999991; /* 햄버거 버튼이 사이드바 위에 표시되도록 설정 */
}

#id_sidebar {
    transition: transform 0.3s ease-in-out;
}

#id_main_content {
    transition: margin-left 0.3s ease-in-out;
}

#id_sidebar.hidden + #id_main_content {
    margin-left: 0;
}

#id_sidebar.hidden {
    transform: translateX(-100%);
}

input[type="checkbox"]:checked + .person-label {
  background-color: #777777;
  border-color: #777777;
}

.toastui-calendar-popup-section-item, .toastui-calendar-popup-button {
    padding-left: 9px;
}

.hive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dropdownMenuButton, #dropdownMenuButton2 {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ced4da;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.arrow-icon.rotated {
    transform: rotate(180deg);
}

#basicInfoContent, #basicInfoContent2 {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 500px; /* 콘텐츠 높이에 맞춰 충분히 크게 설정 */
}

#basicInfoContent.collapsed, #basicInfoContent2.collapsed {
    max-height: 0;
}

#notes, #notes2 {
    transition: max-height 0.3s ease;
}

#id_btn_toggle_sidebar,
#id_btn_toggle_sidebar_fixed {
    z-index: 99991;       /* 다른 요소 위에 떠 있도록 */
}

/* 찐빠 매물번호 마우스 호버 */

/* 툴팁을 포함할 컨테이너에 relative 포지션 설정 */
.btn-container {
  position: relative;
}

/* 버튼에 relative 포지션 설정 */
.btn[data-tooltip] {
  position: relative;
}

/* 툴팁 스타일 */
.btn[data-tooltip]::after {
  content: attr(data-tooltip); /* data-tooltip 속성 값 가져오기 */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px; /* 원하는 크기로 조절 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

/* 호버 시 툴팁 표시 */
.btn[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}