{% extends 'base.html' %}

{% block content %}
<div>
    <div class="mt-10">
        <table id="jjinbbaTable" class="hover compact stripe cell-border" style="width:100%">
            <colgroup>
                <col width="40%" /><!-- 매물 번호 리스트 -->
                <col width="15%" /><!-- 요약 -->
                <col width="10%" /><!-- 등록자 -->
                <col width="15%" /><!-- 생성일자 -->
                <col width="10%" /><!-- 다운로드 -->
                <col width="10%" /><!-- 이동 -->
            </colgroup>
            <thead>
                <tr>
                    <th class="align-middle">매물 번호 리스트</th>
                    <th class="align-middle">요약</th>
                    <th class="align-middle">등록자</th>
                    <th class="align-middle">생성일자</th>
                    <th class="align-middle">다운로드</th>
                    <th class="align-middle">이동</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- 파일 업로드 모달 -->
<div class="modal fade" id="addJjinbbaListModal" tabindex="-1" role="dialog" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataModalLabel">매물번호 등록</h5>
                <button type="button" class="btn btn-secondary" id="closeDataModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label for="numbers">매물번호</label>
                        <textarea id="numbers" name="numbers" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">요약</label>
                        <textarea id="description" name="description" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="person">등록자</label>
                        <textarea id="person" name="person" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyJjinbbaListModal" tabindex="-1" role="dialog" aria-labelledby="modifyDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyDataModalLabel">매물번호 수정</h5>
                <button type="button" class="btn btn-secondary" id="closeModifyDataModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label for="numbers">매물번호</label>
                        <textarea id="numbers" name="numbers" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">요약</label>
                        <textarea id="description" name="description" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="person">등록자</label>
                        <textarea id="person" name="person" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', path='js/jjinbba_list.js') }}"></script>

{% endblock %}