{% extends 'base.html' %}

{% block content %}
<div>
    <div class="mx-auto px-4 py-6 mt-10 min-w-[768px]">
<!--    <div id="category-list" style="width: 15%;text-align: center;"></div>-->
        <table id="data-table" style="width:100%;height:100%;">
            <thead>
                <tr>
                    <th>제목</th>
                    <th colspan="3" id="title"></th>
                </tr>
                <tr>
                    <th>등록일자</th>
                    <th id="registration_date"></th>
                    <th>파일명</th>
                    <th id="filename"></th>
                </tr>
            </thead>
            <tbody>
                <td colspan="4" id="viewer"></td>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="listDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="listDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataCategoryLabel">카테고리 관리</h5>
                <button type="button" class="btn btn-secondary" id="closelistDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <button id="add-category-btn">카테고리 추가</button>
                <div id="manage-category-list"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataCategoryLabel">카테고리 추가</h5>
                <button type="button" class="btn btn-secondary" id="closeDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <div class="form-group">
                        <label for="category_name">카테고리 추가 이름</label>
                        <input type="text" id="category_name" name="category_name" class="form-control" placeholder="카테고리 이름 입력">
                    </div>
                    <div class="form-group">
                        <!-- <label>카테고리 추가 타입</label> -->
                        <div>
                            <label><input type="radio" name="category_type" value="0"> 파일 다운로드</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type" value="1"> 이미지</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type" value="2"> 게시판</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">카테고리 추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modifyDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyDataCategoryModalLabel">카테고리 정보 수정</h5>
                <button type="button" class="btn btn-secondary" id="closeModifyDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <div class="form-group">
                        <label for="category_name_modify">카테고리 추가 이름</label>
                        <input type="text" id="category_name_modify" name="category_name_modify" class="form-control" placeholder="카테고리 이름 입력">
                    </div>
                    <div class="form-group">
                        <!-- <label>카테고리 수정 타입</label> -->
                        <div>
                            <label><input type="radio" name="category_type_modify" value="0"> 파일 다운로드</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type_modify" value="1"> 이미지</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type_modify" value="2"> 게시판</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">카테고리 정보 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', path='js/board.js') }}"></script>
<script>
    var dataCategoryId = "{{ data_category_id }}";
    var boardId = "{{ board_id }}";
</script>

{% endblock %}