{% extends 'base.html' %}

{% block content %}
<div>
    <div class="mt-10">
        <table id="customerTable" class="hover compact stripe cell-border" style="width:100%">
            <colgroup>
                <col width="3%" /><!-- 체크박스 0 -->
                <col width="3%" /><!-- 구분 1 -->
<!--                <col width="3%" />&lt;!&ndash; 중요도 2&ndash;&gt;-->
                <col width="8%" /><!-- 컨택일 3-->
<!--                <col width="8%" />&lt;!&ndash; 입주시기 4&ndash;&gt;-->
                <col width="10%" /><!-- 업종 5-->
                <col width="8%" /><!-- 연락처 6-->
                <col width="34%" /><!-- 비고 7-->

                <col width="5%" /><!-- 컨택 8-->
                <col width="5%" /><!-- 정 9-->
                <col width="5%" /><!-- 부 10-->

                <col width="4%" /><!-- 수정날짜 11-->
                <col width="4%" /><!-- 만든날짜 12-->
                <col width="0" /><!-- 마케팅 13-->
                <col width="0" /><!-- 상태 14-->
                <col width="0" />
                <col width="0" /><!-- 삭제 15-->
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th class="align-middle">구분</th>
                    <th class="align-middle">중요</th>
                    <th class="align-middle">컨택일</th>
                    <th class="align-middle">업종 | 회사명</th>
                    <th class="align-middle">연락처</th>
                    <th class="align-middle">입주시기</th>
                    <th class="align-middle">컨디션 및 진행상황</th>
                    <th class="align-middle">컨택</th>
                    <th class="align-middle">PO</th>
                    <th class="align-middle">PA</th>
                    <th class="align-middle">수정일</th>
                    <th class="align-middle">만든일</th>
                    <th class="align-middle">마케팅</th>
                    <th class="align-middle">상태</th>
                    <th class="align-middle">변경</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Add Customer Modal -->
<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel">고객정보 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <!-- 기본정보 -->
                    <fieldset class="border p-2 mb-3">
                        <legend class="w-auto pb-3">기본정보</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="industry" class="form-label">업종</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="industry" name="industry" class="form-control" placeholder="중개업">
                                </div>
                                <div class="col-md-1">
                                    <label for="company_name" class="form-label">회사명</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="company_name" name="company_name" class="form-control" placeholder="하이브메이트">
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_info" class="form-label">연락처</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="contact_info" name="contact_info" class="form-control" placeholder="010-1234-5678">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">성별</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="male" value="남자" checked>
                                        <label class="form-check-label" for="male">남자</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="female" value="여자">
                                        <label class="form-check-label" for="female">여자</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_date" class="form-label">컨택일</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="contact_date" name="contact_date" class="form-control" placeholder="24.12.25">
                                </div>
                                <div class="col-md-1">
                                    <label for="group" class="form-label">그룹</label>
                                </div>
                                <div class="col-md-5">
                                    <select id="group" name="group" class="form-select">
                                        <option value=0>진행</option>
                                        <option value=4>대기</option>
                                        <option value=2>보류</option>
                                        <option value=1>완료</option>
                                        <option value=3>폐기</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <!-- 컨디션 -->
                    <fieldset class="border p-2 mb-3">
                        <legend class="w-auto pb-3">컨디션</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="move_in_date" class="form-label">입주</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="move_in_date" name="move_in_date" class="form-control" placeholder="△월/처분후/즉시">
                                </div>
                                <div class="col-md-1">
                                    <label for="price" class="form-label">가격</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="price" name="price" class="form-control" placeholder="5,000/500">
                                </div>
                                <div class="col-md-1">
                                    <label for="area" class="form-label">면적</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="area" name="area" class="form-control" placeholder="40평">
                                </div>
                                <div class="col-md-1">
                                    <label for="location" class="form-label">지역</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="location" name="location" class="form-control" placeholder="역삼역(동)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="special_notes" class="form-label">특이<br>사항</label>
                                </div>
                                <div class="col-md-11">
                                    <textarea id="special_notes" name="special_notes" class="form-control" rows="2" placeholder="특이사항 입력"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <!-- 진행사항 -->
                    <fieldset class="border p-2 mb-3">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <legend class="w-auto pb-3">진행<br>사항</legend>
                            </div>
                            <div class="col-md-11">
                                <textarea id="notes" name="notes" class="form-control" rows="4" placeholder="진행사항 입력"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <!-- 담당자 -->
                    <fieldset class="border p-2">
                        <legend class="w-auto pb-3">담당자</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_person" class="form-label">컨택</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="contact_person" name="contact_person" class="form-select">
                                        <option value="블로그">블로그</option>
                                        <option value="네이버 부동산">네이버 부동산</option>
                                        <option value="네모">네모</option>
                                        <option value="대표콜">대표콜</option>
                                        <option value="현수막">현수막</option>
                                        <option value="워킹">워킹</option>
                                        <option value="OB">OB</option>
                                        <option value="RE">RE</option>
                                        <option value="IC">IC</option>
                                        <option value="기타">기타</option>
                                        <option value="미확인">미확인</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="head" class="form-label">PO</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="head" name="head" class="form-select" multiple size="2">
                                        <option value="송재민">송재민</option>
                                        <option value="길민제">길민제</option>
                                        <option value="이경주">이경주</option>
                                        <option value="노현정">노현정</option>
                                        <option value="이선복">이선복</option>
                                        <option value="김시나">김시나</option>
                                        <option value="이소은">이소은</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="deputy" class="form-label">PA</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="deputy" name="deputy" class="form-select" multiple size="2">
                                        <option value="송재민">송재민</option>
                                        <option value="길민제">길민제</option>
                                        <option value="이경주">이경주</option>
                                        <option value="노현정">노현정</option>
                                        <option value="이선복">이선복</option>
                                        <option value="김시나">김시나</option>
                                        <option value="이소은">이소은</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <div class="text-end pt-2">
                        <button type="submit" class="btn btn-primary">고객정보 추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modify Customer Modal -->
<div class="modal fade" id="modifyCustomerModal" tabindex="-1" role="dialog" aria-labelledby="modifyCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyCustomerModalLabel">고객정보 수정</h5>
                <button type="button" class="btn btn-secondary" id="closeModifyCustomerModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <!-- 기본정보 -->
                    <fieldset class="border p-2 mb-3">
                        <legend class="w-auto pb-3">기본정보</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="industry" class="form-label">업종</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="industry" name="industry" class="form-control" placeholder="부동산회사">
                                </div>
                                <div class="col-md-1">
                                    <label for="company_name" class="form-label">회사명</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="company_name" name="company_name" class="form-control" placeholder="회사명">
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_info" class="form-label">연락처</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="contact_info" name="contact_info" class="form-control" placeholder="010-1234-5678">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">성별</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="male" value="남자" checked>
                                        <label class="form-check-label" for="male">남자</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="female" value="여자">
                                        <label class="form-check-label" for="female">여자</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_date" class="form-label">컨택일</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="contact_date" name="contact_date" class="form-control" placeholder="24.12.25">
                                </div>
                                <div class="col-md-1">
                                    <label for="group" class="form-label">그룹</label>
                                </div>
                                <div class="col-md-5">
                                    <select id="group" name="group" class="form-select">
                                        <option value=0>진행</option>
                                        <option value=4>대기</option>
                                        <option value=2>보류</option>
                                        <option value=1>완료</option>
                                        <option value=3>폐기</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <!-- 컨디션 -->
                    <fieldset class="border p-2 mb-3">
                        <legend class="w-auto pb-3">컨디션</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="move_in_date" class="form-label">입주</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="move_in_date" name="move_in_date" class="form-control" placeholder="△월/처분후/즉시">
                                </div>
                                <div class="col-md-1">
                                    <label for="price" class="form-label">가격</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="price" name="price" class="form-control" placeholder="5,000/500">
                                </div>
                                <div class="col-md-1">
                                    <label for="area" class="form-label">면적</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="area" name="area" class="form-control" placeholder="40평">
                                </div>
                                <div class="col-md-1">
                                    <label for="location" class="form-label">지역</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="location" name="location" class="form-control" placeholder="역삼역(동)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="special_notes" class="form-label">특이<br>사항</label>
                                </div>
                                <div class="col-md-11">
                                    <textarea id="special_notes" name="special_notes" class="form-control" rows="2" placeholder="특이사항 입력"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <!-- 진행사항 -->
                    <fieldset class="border p-2 mb-3">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <legend class="w-auto pb-3">진행<br>사항</legend>
                            </div>
                            <div class="col-md-11">
                                <textarea id="notes" name="notes" class="form-control" rows="4" placeholder="진행사항 입력"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <!-- 담당자 -->
                    <fieldset class="border p-2">
                        <legend class="w-auto pb-3">담당자</legend>
                        <fieldset class="border p-2 mb-3">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-1">
                                    <label for="contact_person" class="form-label">컨택</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="contact_person" name="contact_person" class="form-select">
                                        <option value="블로그">블로그</option>
                                        <option value="네이버 부동산">네이버 부동산</option>
                                        <option value="네모">네모</option>
                                        <option value="대표콜">대표콜</option>
                                        <option value="현수막">현수막</option>
                                        <option value="워킹">워킹</option>
                                        <option value="OB">OB</option>
                                        <option value="RE">RE</option>
                                        <option value="IC">IC</option>
                                        <option value="기타">기타</option>
                                        <option value="미확인">미확인</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="head" class="form-label">PO</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="head" name="head" class="form-select" multiple size="2">
                                        <option value="송재민">송재민</option>
                                        <option value="길민제">길민제</option>
                                        <option value="이경주">이경주</option>
                                        <option value="노현정">노현정</option>
                                        <option value="이선복">이선복</option>
                                        <option value="김시나">김시나</option>
                                        <option value="이소은">이소은</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="deputy" class="form-label">PA</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="deputy" name="deputy" class="form-select" multiple size="2">
                                        <option value="송재민">송재민</option>
                                        <option value="길민제">길민제</option>
                                        <option value="이경주">이경주</option>
                                        <option value="노현정">노현정</option>
                                        <option value="이선복">이선복</option>
                                        <option value="김시나">김시나</option>
                                        <option value="이소은">이소은</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <div class="text-end pt-2">
                        <button type="submit" class="btn btn-primary">고객정보 추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="statisticsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statisticsModalModalLabel">통계</h5>
                <button type="button" class="btn btn-secondary" id="closestatisticsModal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', path='js/customer.js') }}"></script>

{% endblock %}