{% extends 'base.html' %}

{% block content %}
<div class="hive-container">
    <table id="customerTable" class="hover compact stripe cell-border" style="width:100%">
        <colgroup>
            <col width="3%" /><!-- 구분 -->
            <col width="3%" /><!-- 중요도 -->
            <col width="8%" /><!-- 컨택일 -->
            <col width="8%" /><!-- 입주시기 -->
            <col width="10%" /><!-- 업종 -->
            <col width="10%" /><!-- 연락처 -->
            <col width="32%" /><!-- 비고 -->

            <col width="5%" /><!-- 컨택 -->
            <col width="5%" /><!-- 정 -->
            <col width="5%" /><!-- 부 -->

            <col width="8%" /><!-- 고객페이지 -->

            <col width="3%" /><!-- 삭제 -->
        </colgroup>
        <thead>
            <tr>
                <th class="align-middle">구분</th>
                <th class="align-middle">중요</th>
                <th class="align-middle">컨택일</th>
                <th class="align-middle">입주시기</th>
                <th class="align-middle">업종</th>
                <th class="align-middle">연락처</th>
                <th class="align-middle">컨디션 및 진행상황</th>
                <th class="align-middle">컨택</th>
                <th class="align-middle">정</th>
                <th class="align-middle">부</th>
                <th class="align-middle">고객페이지</th>
                <th class="align-middle">삭제</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel">고객정보 추가</h5>
                <button type="button" class="btn btn-secondary" id="closeCustomerModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <label for="importance">중요도</label>
                    <input type="text" id="importance" name="importance" class="form-control">
                    <label for="contact_date">컨택일</label>
                    <input type="text" id="contact_date" name="contact_date" class="form-control">
                    <label for="move_in_date">입주시기</label>
                    <input type="text" id="move_in_date" name="move_in_date" class="form-control">
                    <label for="industry">업종</label>
                    <input type="text" id="industry" name="industry" class="form-control">
                    <label for="contact_info">연락처</label>
                    <input type="text" id="contact_info" name="contact_info" class="form-control">
                    <label for="notes">비고</label>
                    <input type="text" id="notes" name="notes" class="form-control">
                    <label for="contact_person">컨택</label>
                    <input type="text" id="contact_person" name="contact_person" class="form-control">
                    <label for="head">정</label>
                    <input type="text" id="head" name="head" class="form-control">
                    <label for="deputy">부</label>
                    <input type="text" id="deputy" name="deputy" class="form-control">
                    <label for="customer_page">고객페이지</label>
                    <input type="text" id="customer_page" name="customer_page" class="form-control">

                    <button type="submit" class="btn btn-primary">고객정보 추가</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', path='js/customer.js') }}"></script>

{% endblock %}