{% extends 'base.html' %}

{% block content %}
<div>
    <div class="mx-auto px-4 py-6 mt-10">
<!--        <div id="category-list" style="width: 15%;text-align: center;"></div>-->
        <table id="downloadTable" class="hover compact stripe cell-border" style="width:100%">
            <colgroup>
                <col width="50%" /><!-- 제목 -->
    <!--            <col width="5%" />&lt;!&ndash; 설명 &ndash;&gt;-->
                <col width="15%" /><!-- 파일명 -->
                <col width="15%" /><!-- 생성일자 -->
                <col width="10%" /><!-- 경로 -->
                <col width="10%" /><!-- 다운로드 -->
                <col width="15%" /><!-- 이동 -->
                <col width="5%" /><!-- 카테고리 -->
            </colgroup>
            <thead>
                <tr>
                    <th class="align-middle">제목</th>
    <!--                <th class="align-middle">설명</th>-->
                    <th class="align-middle">파일명</th>
                    <th class="align-middle">생성일자</th>
                    <th class="align-middle">경로</th>
                    <th class="align-middle">다운로드</th>
                    <th class="align-middle">이동</th>
                    <th class="align-middle">카테고리</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- 파일 업로드 모달 -->
<div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="addDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataModalLabel">게시판 등록</h5>
                <button type="button" class="btn btn-secondary" id="closeDataModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <div class="dropzone1" style="border: 2px dashed #aaa; padding: 10px; text-align: center;">
                            <input class="upload-name1" value="첨부파일" placeholder="첨부파일" id="upload-name1">
                            <label for="fileUpload1">파일찾기</label>
                            <input type="file" class="form-control-file" id="fileUpload1" name="fileUpload">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <textarea id="title" name="title" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">내용</label>
                        <div id="editor"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyDataModal" tabindex="-1" role="dialog" aria-labelledby="modifyDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyDataModalLabel">게시판 수정</h5>
                <button type="button" class="btn btn-secondary" id="closeModifyDataModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <div class="dropzone2" style="border: 2px dashed #aaa; padding: 10px; text-align: center;">
                            <input class="upload-name2" value="첨부파일" placeholder="첨부파일" id="upload-name2" disabled>
                            <label for="fileUpload2">파일찾기</label>
                            <input type="file" class="form-control-file" id="fileUpload2" name="fileUpload" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <textarea id="title" name="title" class="form-control" style="resize: vertical;overflow-y: visible;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">내용</label>
                        <div id="editor2"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="listDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataCategoryLabel">카테고리 관리</h5>
                <button type="button" class="btn btn-secondary" id="closelistDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <button id="add-category-btn">카테고리 추가</button>
                <div id="manage-category-list"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDataCategoryLabel">카테고리 추가</h5>
                <button type="button" class="btn btn-secondary" id="closeDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <div class="form-group">
                        <label for="category_name">카테고리 추가 이름</label>
                        <input type="text" id="category_name" name="category_name" class="form-control" placeholder="카테고리 이름 입력">
                    </div>
                    <div class="form-group">
                        <!-- <label>카테고리 추가 타입</label> -->
                        <div>
                            <label><input type="radio" name="category_type" value="0"> 파일 다운로드</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type" value="1"> 이미지</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type" value="2"> 게시판</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">카테고리 추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyDataCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modifyDataCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyDataCategoryModalLabel">카테고리 정보 수정</h5>
                <button type="button" class="btn btn-secondary" id="closeModifyDataCategoryModal">&times;</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;" class="grid-form">
                    <div class="form-group">
                        <label for="category_name_modify">카테고리 추가 이름</label>
                        <input type="text" id="category_name_modify" name="category_name_modify" class="form-control" placeholder="카테고리 이름 입력">
                    </div>
                    <div class="form-group">
                        <!-- <label>카테고리 수정 타입</label> -->
                        <div>
                            <label><input type="radio" name="category_type_modify" value="0"> 파일 다운로드</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type_modify" value="1"> 이미지</label>
                        </div>
                        <div>
                            <label><input type="radio" name="category_type_modify" value="2"> 게시판</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">카테고리 정보 수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', path='js/download.js') }}"></script>
<script>
    var dataCategoryId = "{{ data_category_id }}";
</script>

{% endblock %}