<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- 로고 -->
            <a href="/">
                <img id="nav-logo" src="/static/images/logo.png" alt="LOGO">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- 네비게이션 메뉴 (오른쪽 정렬) -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button id="nav-customer" class="nav-link" onclick="location.href='/customer';">고객</button>
                    </li>
                    <li class="nav-item">
                        <button id="nav-property" class="nav-link" onclick="location.href='/property';">물건</button>
                    </li>
                    <li class="nav-item">
                        <button id="nav-contact" class="nav-link" onclick="location.href='/contact';">연락처</button>
                    </li>
                    <li class="nav-item">
                        <button id="nav-download" class="nav-link" onclick="location.href='/download';">게시판</button>
                    </li>
                </ul>
            </div>
            <!-- 프로필 아이콘 (오른쪽 정렬) -->
            <div class="d-flex">
                <a class="nav-link">
                    <i class="fas fa-user"></i> <!-- FontAwesome User Icon -->
                </a>
            </div>
        </div>
    </nav>
</header>